.header {
  background-color: #757e88;
  box-shadow: 5px 5px 5px 3px rgba(84, 84, 84, 0.2);
  color: white;
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: space-between;
  justify-items: center;
}

.userPicture {

  /* background-color: #57a342; */
  display: flex;

  /* justify-content: space-between; */
  margin: 20px;
}

.picture {
  border-radius: 50%;
  margin-right: 10px;
}

@media ( prefers-reduced-motion : no-preference ) {

  .logoHeader {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    margin-bottom: 100px;
    margin-top: 20px;
    width: 150px;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.score {
  align-items: center;
  background-color: #57a342;
  border-radius: 10px;
  display: flex;
  margin: 20px;
  padding: 15px;
}

.youScore {
  margin-right: 5px;
}

